{% load static %}
{% include 'tekken_game/header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="horizont-container">
  <div class="horizont">
    {% for i in persons %}
      <div class="card" style="width: 18rem;">
        <img src="{{i.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.sport}}</p>
          <a href="/persons_list/{{i.id}}/" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% include 'tekken_game/footer.html' %}

